body {
  padding: 0;
  margin: 0;
}

#js{
  margin:0;
  padding: 0;
}

#headline{
  height: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

#headline p{
  margin-left: auto:
  margin-right:auto;
  margin-top:10%;
  text-align: center;
  font-size: 70pt;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
