/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*Set HTML bacground color to black*/
body {
  padding: 0;
  margin: 0;
  background: #000000;
}

/*Set properties of HTML div 'canvasBox'*/
#canvasBox{
  width:500px;
  height: 500px;
  margin:auto;
  border: 4px dashed;
  border-color: #18F2C7;
}

/*Set properties of HTML div 'heading'*/
#heading{
  width:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

/*Set properties of H1 withing the 'heading' div*/
#heading h1 {
  margin-left: 15px;
  text-align:center;
  font-family: 'VT323', monospace;
  letter-spacing: 1.3rem;
  color: #18F2C7;
}
